@charset "utf-8";

body {
  background: #FFFFFF;
  color: #000000;
  padding-top: 56px;
}

.top-bar-contact-item {
  font-size: 16px;
  line-height: 56px;
  margin-right: 40px;
}
.top-bar-contact-item:not(:first-child) {
  margin-right: 0px;
}

.top-bar-contact-item a {
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  color: #000;
}

.top-bar-contact-item a:hover {
  color: #8a8a8a;
  text-decoration: none;
}

.top-bar-contact-item:last-child {
  margin-right: 0;
}

.top-bar-icon {
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}

.top-bar {
  background: #fafafa;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}
